.customTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
    border-color: white;
}

.customTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
   
    border-color: rgb(105, 105, 105);
}

.customTextField .MuiInputLabel-root.Mui-focused{
    color: rgb(255, 255, 255);
    
}


#customTextFieldText{
    color: white;
}

  .customTextField .MuiInputLabel-root {
    color: rgb(85, 85, 85);
}
.customTextField .MuiOutlinedInput-root:not(:hover):not(.Mui-focused) .MuiOutlinedInput-notchedOutline {
    border-color: #282828;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.css-vlqfi1-MuiPaper-root {
  border: none;
  border-color: transparent;
  box-shadow: none;
}


.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-fullWidth.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-fullWidth.css-u7o4ud-MuiButtonBase-root-MuiButton-root {
    background-color: transparent;
    color: white;
    transition: background-color 0.7s ease;
    border: none;
    border-color: transparent;
    box-shadow: none;
    font-weight: bold;
  
  }
  
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-fullWidth.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-fullWidth.css-u7o4ud-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(57, 57, 57);
    color: white;    
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
  .scrollable-container {
    overflow-y: auto;
    height: 100vh;  
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  audio::-webkit-media-controls-panel {
    background-color:  rgb(138, 145, 165,0.5);
  }

    .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
        min-height: 52px;
        padding-right: 2px;
        color: white;
    }
    .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiSvgIcon-root {
      color: #ffffff;  
    }
.css-160iaj4-MuiDataGrid-root .MuiDataGrid-scrollbarFiller {
  min-width: calc(var(--DataGrid-hasScrollY)* var(--DataGrid-scrollbarSize));
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: #0f121a;
  color: white;
}
.css-160iaj4-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer .MuiSvgIcon-root {
  color: #ffffff; /* Add this line to change the icon color to white */
}
.MuiDataGrid-columnHeaderTitleContainer svg {
  fill: #FFFFFF;  
}

@media (hover: hover) {
  .css-160iaj4-MuiDataGrid-root .MuiDataGrid-columnHeaders:hover .MuiDataGrid-columnSeparator, .css-160iaj4-MuiDataGrid-root .MuiDataGrid-columnHeaders:hover .MuiDataGrid-columnSeparator--resizing {
      visibility: visible;
      width: auto;
      color: white;
  }
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  background-color: red; /* or any other gray shade you prefer */
  color: green; /* or any other gray shade you prefer */
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: white;
}